<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ .title }}</title>
	<link rel="stylesheet" href="/css/bulma.css">
	<style>
		body {
			padding: 40px;
		}
		div.control {
			margin-bottom: 10px;
		}
	</style>

</head>
<body>

	<div id="app" class="container">
		<example></example>

		<h1>{{ .title }}</h1>

		<form method="POST" action="/projects" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">

			<div class="control">
				<label for="name" class="label">Project Name:</label>
				<input type="text" name="name" id="name" class="input" v-model="form.name">
				<span class="help is-danger" v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
			</div>

			<div class="control">
				<label for="description" class="label">Project Description:</label>
				<input type="text" name="description" id="description" class="input" v-model="form.description">
				<span class="help is-danger" v-if="form.errors.has('description')" v-text="form.errors.get('description')"></span>
			</div>

			<div class="control">
				<button class="button is-primary" :disabled="form.errors.any()">Create</button>
			</div>

		</form>

	</div>

	<!-- <script src="scripts/axios.min.js"></script>
	<script src="scripts/vue@2.6.10.js"></script> -->
	<script src="js/app.js"></script>
</body>
</html>